/* OVERLAY */

.overlay {
  height: 100vh;
  width: 100vw;
  background: rgb(0 0 0 / 96%);
  z-index: 250;
  position: fixed;
  display: none;
  /* SET BODY OVERFLOW TO NONE */
  /* overflow: hidden; */
}
/* 1220 */
.projectpage {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 100px;
  z-index: 251;
  justify-content: space-evenly;
  display: none;
  transition: all 500ms;
}

.projectpreview {
  height: auto;
  width: auto;
  margin-left: -77px;
}

img.canceloverlay {
  position: fixed;
  z-index: 300;
  right: 28px;
  top: 19px;
  width: 28px;
  cursor: pointer;
}

.projectimg {
  width: 700px;
  border-radius: 6px;
  box-shadow: 0px 0px 14px 3px #6e6e6e;
}

.projectdescription h3 {
  color: white;
  text-align: center;
  margin-bottom: 6px;
}

.journilink {
  color: black;
}

.descriptiontext {
  color: white;
  width: 303px;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}

.projecttoolslist {
  color: white;
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
}

/* BODY */

html {
  background: white;
}
body {
  background: linear-gradient(rgb(44 26 8 / 60%), rgb(44 26 8 / 60%)),
    url(assets/test2.jpeg);
  font-family: "Poppins";
  -ms-overflow-style: none;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: 122.5vw;
}

body::-webkit-scrollbar {
  display: none;
}

/* NAVBAR */

.hamburgericon {
  width: 30px;
  margin: 19px 24px;
  position: absolute;
  cursor: pointer;
}

.verticalnavbar {
  height: 100vh;
  width: 78px;
  background: rgb(24 14 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 249;
  transition: padding 700ms ease-in-out;
}

.slide {
  padding-left: 285px;
}

.links {
  margin-left: -185px;
  color: white;
  line-height: 100px;
  margin-top: 165px;
  font-weight: 300;
}

.links li {
  list-style-type: circle;
  cursor: pointer;
  transition: transform 250ms;
}

.links li:hover {
  transform: translateX(20px);
  transition: transform 250ms;
}

/* FIRST PAGE TEXT */

.mainsection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  padding-left: 100px;
  padding-top: 60px;
  position: relative;
}

.mainsection h3 {
  color: white;
  font-size: 111px;
  margin-top: 10px;
  width: 512px;
  text-shadow: -9px 4px rgb(30 19 3);
}

.downarrow {
  cursor: pointer;
  width: 30px;
  position: absolute;
  bottom: 30px;
  margin-left: -50px;
  display: flex;
  justify-content: center;
  transition: transform 250ms;
}

.downarrow:hover {
  transform: translateY(7px);
  transition: transform 250ms;
}

/* ABOUT ME PAGE */

.aboutme {
  background: white;
  z-index: 100000;
  margin-top: 27px;
  padding-top: 65px;
  width: 100%;
  height: auto;
  padding-bottom: 113px;
}

.aboutmetext {
  display: block;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-shadow: -2px 3px #f2efe8;
  color: rgb(24 14 1);
}

.aboutmeflex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
  align-items: flex-start;
}

.aboutmeflex--left {
  margin-top: 60px;
  padding: 48px 88px;
  border: solid 1px black;
  background: rgb(24 14 1);
  color: white;
  text-align: center;
  border-radius: 24px;
  margin-left: 30px;
}

.aboutmeflex--left h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 47px;
}

.aboutmeflex--right {
  width: 420px;
  margin-top: 85px;
}

.aboutmeflex--right h3 {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

hr {
  width: 98px;
  background: brown;
  height: 3px;
  border: none;
  border-radius: 20px;
  margin-top: -12px;
  margin-bottom: 17px;
}

/* SKILLS */

.skills {
  background: rgb(55 34 25 / 91%);
  /* rgb(69 47 18 */
  height: auto;

  padding-bottom: 87px;
  color: white;
  transform: translateY(40px);
  opacity: 0;
  transition: all 500ms;
}

.skill img {
  height: 23px;
  position: relative;
  left: -12px;
  top: 5px;
}

.skillscontainer {
  background: white;
}

.slideup {
  transform: translateY(0px);
  opacity: 1;
}

.myskillsstext {
  text-align: center;
  margin: 0px;
  padding-top: 70px;
  font-size: 31px;
  padding-bottom: 35px;
}

.developmenttext {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -18px;
}

.developmenttext h3 {
  font-weight: 400;
}

.skillcontainers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 57px;
}

.skill {
  border: solid 1px rgb(24 14 1);
  background: rgb(24 14 1);
  width: 174px;
  color: white;
  height: 80px;
  transition: all 150ms;
  margin-top: 60px;
  padding-top: 17px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  box-shadow: -3px 3px rgb(24 14 1 / 23%);
}

.skill p {
  margin-top: 19px;
}

.skill:hover {
  transform: translate(-3px, 3px);
  box-shadow: none;
}

.supplements {
  margin-top: 77px;
}

/* BOOKMARK */

/* .bookmark {
  position: fixed;
  height: 123px;
  width: 35px;
  background: rgb(24 14 1);
  bottom: 120px;
  left: -62px;
  transform: rotate(90deg);
  border-left: solid 1px #776955;
  /* border-top: solid 1px #4e4a43;
  /* border-top: solid 1px #4e4a43; */
/* transition: left 600ms;
  cursor: pointer;
  visibility: hidden;
  z-index: 100;
}

.bookmark h3 {
  transform: rotate(270deg);
  text-align: center;
  margin-top: 56px;
  color: white;
  font-size: 13px;
  font-weight: 300;
  left: 50px;
}

.bookmark--1 {
  bottom: 100px;
}
.bookmark--2 {
  bottom: 65px;
}
.bookmark--3 {
  bottom: 35px;
}
.bookmark--4 {
  bottom: 5px;
}  */

/* MY PROJECTS */

.projects {
  text-align: center;
  background: white;
  height: auto;
  padding-bottom: 125px;
}

.projectstext {
  margin: 0px;
  padding-top: 50px;
  font-size: 31px;
  color: rgb(24 14 1);
}

/* PROJECTS SHOWCASE */

.projectshowcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 39px;
}

.descriptionportfolio {
  display: none;
}

img.porfolioimg3 {
  margin-left: 20%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  transition: color 130ms;
  color: rgb(74, 36, 247);
}
/* MEDIA RULES*/

.descriptiontext--resp {
  padding: 0px 133px;
  font-weight: 300;
  margin-top: 25px;
  font-size: 14px;
}

.restaurantlink--resp {
  color: black;
}

.hrdescription {
  margin-top: -3px;
}

.navbarcta {
  bottom: 50px;
  border: solid 1px black;
  left: 96px;
  padding: 14px 25px;
  cursor: pointer;
  font-weight: 300;
  background: white;
  font-family: "Poppins";
}

.contactmeoverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -500;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.contactmepage {
  background: white;
  text-align: center;
  height: 467px;
  width: 422px;
  display: none;
  padding-top: 22px;
  z-index: 3000;
  position: absolute;
}

h5 {
  font-weight: 300;
}

.contactmecancelicon {
  position: absolute;
  width: 27px;
  right: 32px;
  cursor: pointer;
}

textarea {
  height: 129px;
  width: 347px;
  font-family: "Poppins";
  font-weight: 300;
  padding: 5px;
}

.contactmepageinput {
  font-weight: 300;
  width: 350px;
  font-family: "Poppins";
  height: 40px;
  text-align: center;
}

.contactmepagebutton {
  padding: 13px 32px;
  margin-top: 20px;
  cursor: pointer;
  background: rgb(24 14 1);
  border: solid 1px black;
  color: white;
  font-family: "Poppins";
}

.mobilenavbar {
  z-index: 20;
  color: white;
  text-align: center;
  background: #190b01;
  height: 300px;
  width: 200px;
  position: fixed;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: transform 500ms;
  display: none;
  transform: translate(145px, -246px);
}

.mobilenavbar li {
  list-style-type: none;
  padding-top: 17px;
  margin-top: 11px;
  cursor: pointer;
  font-size: 14.5px;
  transition: transform 250ms;
}

.mobilenavbar li:hover {
  transform: translateX(7px);
}

.mobilenavbar ul {
  padding-left: 0px;
  margin-top: 30px;
}

.hamburger--phone {
  position: absolute;
  width: 25px;
  left: 15px;
  bottom: 15px;
  cursor: pointer;
}

.phoneNavSlide {
  box-shadow: -3px 3px 6px 0px #382a20;
  transform: translate(0px, 0px);
}

.contactmeicon--phone {
  width: 20px;
  position: absolute;
  right: 13px;
  bottom: 18px;
  cursor: pointer;
  transition: transform 400ms;
}

.contactmeicon--phone:hover {
  transition: transform 400ms;
  transform: rotate(20deg);
}

/* FOOTERS */

.footer {
  height: 270px;
  background-color: rgb(55 34 25 / 91%);
}

.footer h4 {
  color: white;
  padding-left: 36px;
  font-weight: 200;
  font-size: 15px;
  transition: transform 300ms;
}

.footer a:hover {
  color: white;
}

.footer h4:hover {
  transform: translateX(7px);
  transition: transform 300ms;
}
.socialstext {
  color: white;
  margin: 0px;
  font-size: 26px;
  padding-left: 36px;
  padding-top: 50px;
}

/* VIDEO */

video {
  width: 568px;
  margin-top: 58px;
}

.portfolioshowcase--button {
  display: block;
  background: rgb(24 14 1);
  border: solid 1px;
  padding: 15px 16px;
  margin-top: 13px;
  color: white;
  font-family: "Poppins";
  cursor: pointer;
}

@media (max-width: 1135px) {
  .projectshowcase img {
    width: 60%;
    transition: width 200ms;
  }
}

@media (max-width: 1389px) {
  /* .footer {
    padding-left: 75px;
  } */
  .projectshowcase {
    display: block;
  }

  .portfolioshowcase--button {
    display: none;
  }

  .descriptionportfolio {
    display: block;
    margin-top: 10px;
  }

  .projects {
    padding-bottom: 85px;
  }

  .descriptiontext--resp {
    padding: 0px 22%;
  }
}

@media (max-width: 985px) {
  .verticalnavbar {
    display: none;
  }

  .mobilenavbar {
    display: block;
  }

  .projectshowcase img {
    width: 80%;
  }

  .projectshowcase img:hover {
    transform: translate(0px, 0px);
    width: 82%;
    transition: width 200ms;
  }

  .projects {
    padding-bottom: 85px;
  }

  .descriptiontext--resp {
    padding: 0px 50px;
  }
}

@media (min-width: 985px) {
  .footer {
    padding-left: 75px;
  }
}

@media (max-width: 597px) {
  video {
    width: 84%;
  }
  .mainsection {
    height: 60vh;
  }

  .mainsection h3 {
    font-size: 81px;
  }

  .downarrow {
    display: none;
  }

  .aboutmeflex--left {
    margin-left: 0px;
  }

  .projects {
    padding-bottom: 85px;
  }

  .skill {
    width: 164px;
    height: 65px;

    margin-top: 40px;
    padding-top: 5px;
  }
}

@media (max-width: 491px) {
  .mainsection h3 {
    font-size: 70px;
    margin-right: 25%;
    margin-top: 50px;
  }

  .aboutmeflex--left {
    padding: 47px 67px;
  }

  .aboutmeflex--right {
    font-size: 14px;
    text-align: center;
    padding: 0px 30px;
  }

  .descriptiontext--resp {
    padding: 0px 50px;
  }

  .projects {
    padding-bottom: 85px;
  }

  .contactmepage {
    width: 338px;
  }

  .contactmepageinput {
    font-weight: 300;
    width: 285px;
  }

  textarea {
    width: 285px;
    height: 135px;
  }
}

@media (min-width: 1900px) {
  .mainsection h3 {
    color: white;
    font-size: 19rem;
    margin-left: -37rem;
  }

  .downarrow {
    width: 85px;
  }

  .verticalnavbar {
    height: 102vh;
    width: 159px;
  }

  .hamburgericon {
    width: 75px;
    margin: 47px 46px;
    position: absolute;
  }

  .aboutme {
    padding-bottom: 200px;
  }

  .aboutmetext {
    font-size: 6rem;
  }

  .aboutmeflex {
    align-items: center;
    justify-content: center;
    gap: 496px;
  }

  .aboutmeflex--left h3 {
    font-size: 40px;
  }
  .aboutmeflex--left {
    margin-top: 101px;
    flex-direction: column;
    display: flex;
    width: 15%;
    height: 809px;
    justify-content: center;
    border-radius: 24px;
    margin-left: 30px;
  }

  .aboutmeflex--right {
    width: 903px;
    margin-top: 85px;
  }
  .aboutmeflex--right h3 {
    font-size: 34px;
  }

  .myskillsstext {
    padding-top: 115px;
    font-size: 84px;
  }

  .skillcontainers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 78px;
    align-items: center;
    padding: 0px 57px;
    margin-bottom: 85px;
  }

  .skill {
    width: 292px;
    height: 117px;
    margin-top: 91px;
    padding-top: 37px;
  }

  .skill p {
    font-size: 30px;
  }

  video {
    width: 1203px;
  }

  .projectstext {
    font-size: 4em;
  }

  .portfolioshowcase--button {
    display: block;
    background: rgb(24 14 1);
    border: solid 1px;
    padding: 30px 41px;
    margin-top: 13px;
    font-size: 29px;
  }
}
